@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	/*primary nord*/
	--primary: #242933;
	--secondary: #292e39;
	--third: #2e3440;
	--forth: #4c566a;
	--primary-hover: rgb(46, 52, 64, 0.8);
	--secondary-hover: rgb(60, 67, 83, 0.8);
	--third-hover: rgb(67, 76, 94, 0.8);
	--forth-hover: rgb(76, 86, 106, 0.8);
	/*text nord*/
	--text1: #d8dee9;
	--text2: #e5e9f0;
	--text3: #eceff4;
	--text4: #949eb4;
	--text1-hover: rgb(216, 222, 233, 0.8);
	--text2-hover: rgb(229, 233, 240, 0.8);
	--text3-hover: rgb(236, 239, 244, 0.8);
	--text4-hover: rgb(148, 158, 180, 0.8);
	/*frost from nord*/
	--frost1: #8fbcbb;
	--frost2: #88c0d0;
	--frost3: #81a1c1;
	--frost4: #5e81ac;
	--frost5: #5e81ac0e;
	--frost1-hover: rgb(143, 188, 187, 0.8);
	--frost2-hover: rgb(136, 192, 208, 0.8);
	--frost3-hover: rgb(129, 161, 193, 0.8);
	--frost4-hover: rgb(94, 129, 172, 0.8);
	--frost5-hover: rgba(94, 129, 172, 0.055);
	--frost1-hard-hover: rgb(143, 188, 187, 0.2);
	--frost2-hard-hover: rgb(136, 192, 208, 0.2);
	--frost3-hard-hover: rgb(129, 161, 193, 0.2);
	--frost4-hard-hover: rgb(94, 129, 172, 0.2);
	/* aurora */
	--aur1: #bf616a;
	--aur2: #d08770;
	--aur3: #ebcb8b;
	--aur4: #a3be8c;
	--aur5: #b48ead;
	--aur1-hover: rgb(191, 97, 106, 0.8);
	--aur2-hover: rgb(208, 135, 112, 0.8);
	--aur3-hover: rgb(235, 203, 139, 0.8);
	--aur4-hover: rgb(164, 191, 141, 0.8);
	--aur5-hover: rgb(180, 142, 173, 0.8);
	--aur1-hard-hover: rgb(191, 97, 106, 0.1);
	--aur2-hard-hover: rgb(208, 135, 112, 0.1);
	--aur3-hard-hover: rgb(235, 203, 139, 0.1);
	--aur4-hard-hover: rgb(164, 191, 141, 0.1);
	--aur5-hard-hover: rgb(180, 142, 173, 0.1);
}

* > body {
	font-family: "Rubik", sans-serif !important;
	margin: 0;
	height: 100vh;
	font-size: 16pt !important;
	background-color: var(--primary) !important;
	color: var(--text3) !important;
}
a {
	text-decoration: none;
	padding-bottom: 0.01rem;
	/* border-bottom: 1px solid var(--frost3); */
	color: var(--frost3);
	transition: linear color 400ms;
}
a:hover {
	/* border-bottom: 1px solid var(--frost3-hover); */
	color: var(--frost3-hover);
}
.navbar {
	background-color: var(--third);
	padding: 1rem;
	position: sticky;
	top: 0;
	/* margin-bottom: 2rem; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar_item {
	color: var(--text3);
	font-size: 1.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: linear background-color 400ms, linear color 400ms;
}
.navbar_item:hover {
	background-color: var(--forth);
	color: var(--text2);
}
.header {
	margin: 2rem;
	margin-bottom: 0;
	text-align: center;
}
.smoll_text {
	color: var(--text4);
	font-size: smaller;
}
.cursive {
	font-style: italic;
}
.big_text {
	font-size: 2rem;
}
.filter_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
button {
	background-color: var(--frost3);
	color: var(--text3);
	border-radius: 0.5rem;
	padding: 0.75rem;
	border: 0.15rem solid transparent;
	margin: 1rem;
	cursor: pointer;
	transition: linear box-shadow 400ms, linear color 400ms, linear border 400ms,
		linear background-color 400ms;
}
button:hover {
	color: var(--text3);
	background-color: var(--frost3-hover);
	box-shadow: 0 10px 20px 2px rgba(15, 17, 21, 0.5);
}
button.clean {
	background-color: transparent;
	border: 0.15rem solid var(--text3);
}
button.danger {
	background-color: var(--aur1);
}
button.warning {
	background-color: var(--aur3);
}
button.success {
	background-color: var(--aur4);
}
button.active {
	background-color: var(--frost3-hard-hover);
	border: 0.15rem solid var(--frost3);
}
button.danger.active {
	background-color: var(--aur1-hard-hover);
	border: 0.15rem solid var(--aur1-hard-hover);
}
button.warning.active {
	background-color: var(--aur3---aur1-hard-hover);
	border: 0.15rem solid var(--aur3-hard-hover);
}
button.success.active {
	background-color: var(--aur4---aur1-hard-hover);
	border: 0.15rem solid var(--aur4-hard-hover);
}
button.clean:hover {
	background-color: transparent;
	border: 0.15rem solid var(--frost3);
	color: var(--frost3);
}
button.danger:hover {
	background-color: var(--aur1-hover);
}
button.warning:hover {
	background-color: var(--aur3-hover);
}
button.success:hover {
	background-color: var(--aur4-hover);
}
button.active {
	cursor: not-allowed;
}
.alert {
	background-color: var(--frost3-hard-hover);
	border: 0.15rem solid var(--frost3);
	padding: 1.25rem;
	margin: 1rem;
	border-radius: 0.5rem;
	color: var(--frost3);
	user-select: none;
}
.alert.danger {
	background-color: var(--aur1-hard-hover);
	border: 0.15rem solid var(--aur1);
	color: var(--aur1);
}
.alert.warning {
	background-color: var(--aur3-hard-hover);
	border: 0.15rem solid var(--aur3);
	color: var(--aur3);
}
.alert.success {
	background-color: var(--aur4-hard-hover);
	border: 0.15rem solid var(--aur4);
	color: var(--aur4);
}
.orga_container_container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.orga_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70vw;
}
.orga_card {
	font-size: 1.25rem;
	background-color: var(--secondary);
	width: 15vw;
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.5rem;
	min-width: 10vw;
	min-height: fit-content;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	/* margin-top: 0; */
	transition: linear box-shadow 400ms;
}
.orga_card:hover {
	box-shadow: 0 10px 20px 2px rgba(15, 17, 21, 0.5);
}
.orga_header {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
}
.user_card_container_container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.user_card_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 70vw;
}
.user_card {
	font-size: 1.25rem;
	background-color: var(--secondary);
	width: 15vw;
	/* height: 15vw; */
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.5rem;
	min-width: 10vw;
	min-height: fit-content;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	transition: linear box-shadow 400ms;
}
.user_card:hover {
	box-shadow: 0 10px 20px 2px rgba(15, 17, 21, 0.5);
}
.user_card_title {
	margin-bottom: 1rem;
}
.user_card_content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.user_card_stat_content {
	color: var(--text4);
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.user_card_href {
	top: 0.15rem;
	font-size: 0.95rem;
}
.user_card_stat_header {
	color: var(--text1);
}
.github_signin {
	background-color: var(--primary);
	color: var(--text3);
	border-radius: 0.5rem;
	padding: 0.5rem;
	border: none;
	/* margin: 1rem; */
	cursor: pointer;
	font-size: smaller;
}
.landingpage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.github_signin:hover {
	color: var(--text1);
	background-color: var(--primary-hover);
}
.navbar_github_container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar_github_name {
	color: var(--text4);
	font-size: 1.25rem;
	cursor: pointer;
}
.navbar_github_link {
	padding: 0;
	width: 2.5rem;
	height: 2.5rem;
}
.navbar_github_avatar {
	height: 2.5rem;
	border-radius: 50%;
	border: 0.2rem solid var(--frost3);
	margin-left: 0.5rem;
}
.oauth_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.landingpage_header {
	font-size: 3rem;
	color: var(--text3);
	margin-bottom: 2rem;
}
.landingpage_sub_header {
	color: var(--text1);
	margin-bottom: 1rem;
}
.landingpage_header_container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	width: 90vw;
}
.landingpage_card {
	background-color: var(--secondary);
	transition: linear box-shadow 400ms;
	height: 25vh;
	width: 30vw;
	border-radius: 0.5rem;
	margin: 1rem;
	padding: 1rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-around;
}
.landingpage_card_content {
	font-size: smaller;
}
.landingpage_card_content_header {
	font-size: larger;
}
.landingpage_card:hover {
	box-shadow: 0 10px 20px 2px rgba(15, 17, 21, 0.5);
}
.landingpage_header_button_container button {
	margin-left: 0;
	font-size: large;
}
ul {
	margin-left: 1.5rem;
	margin-bottom: 1.5rem;
	list-style-type: disc;
}
ul > li {
	font-size: smaller;
	color: var(--text4);
}
.landingpage_header_container_extra {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90vw;
	margin-bottom: 20rem;
	flex-wrap: wrap;
}
.pie_container_container {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
}
.landingpage_header_container_extra > .pie_container {
}
.landingpage_orga_card {
	width: 30vw;
	flex-grow: 0;
}
.landingpage_user_card {
	width: 30vw;
}
.searchContainer {
	display: flex;
	align-items: center;
}
.searchInput {
	font-size: larger;
	background-color: var(--secondary);
	border-radius: 0.5rem;
	color: var(--text3);
	padding: 1rem;
	border: none;
	min-width: 5vw;
	border: 0.15rem solid transparent;
	transition: linear box-shadow 400ms;
}
.searchSubmit {
	font-size: larger;
}
.searchInput:focus {
	outline: none;
	border: 0.15rem solid var(--frost3);
	box-shadow: 0 10px 20px 2px rgba(15, 17, 21, 0.5) !important;
}
.searchInput:hover {
	box-shadow: 0 5px 10px 2px rgba(15, 17, 21, 0.5);
}
@media screen and (max-width: 800px) {
	.searchInput {
		font-size: medium;
	}
	.user_card,
	.landingpage_orga_card {
		width: 80vw;
		/* height: 30vw; */
	}
	.landingpage_card {
		width: 100vw;
	}
	.landingpage_card_container_left,
	.landingpage_card_container_right {
		width: 100vw;
	}
	.filter_container {
		flex-direction: column;
	}
}
