* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	/*primary nord*/
	--primary: #2e3440;
	--secondary: #3b4252;
	--third: #434c5e;
	--forth: #4c566a;
	--primary-hover: rgb(46, 52, 64, 0.8);
	--secondary-hover: rgb(60, 67, 83, 0.8);
	--third-hover: rgb(67, 76, 94, 0.8);
	--forth-hover: rgb(76, 86, 106, 0.8);
	/*text nord*/
	--text1: #d8dee9;
	--text2: #e5e9f0;
	--text3: #eceff4;
	--text4: #949eb4;
	--text1-hover: rgb(216, 222, 233, 0.8);
	--text2-hover: rgb(229, 233, 240, 0.8);
	--text3-hover: rgb(236, 239, 244, 0.8);
	--text4-hover: rgb(148, 158, 180, 0.8);
	/*frost from nord*/
	--frost1: #8fbcbb;
	--frost2: #88c0d0;
	--frost3: #81a1c1;
	--frost4: #5e81ac;
	--frost5: #5e81ac0e;
	--frost1-hover: rgb(143, 188, 187, 0.8);
	--frost2-hover: rgb(136, 192, 208, 0.8);
	--frost3-hover: rgb(129, 161, 193, 0.8);
	--frost4-hover: rgb(94, 129, 172, 0.8);
	--frost5-hover: rgba(94, 129, 172, 0.055);
	--frost1-hard-hover: rgb(143, 188, 187, 0.2);
	--frost2-hard-hover: rgb(136, 192, 208, 0.2);
	--frost3-hard-hover: rgb(129, 161, 193, 0.2);
	--frost4-hard-hover: rgb(94, 129, 172, 0.2);
	/* aurora */
	--aur1: #bf616a;
	--aur2: #d08770;
	--aur3: #ebcb8b;
	--aur4: #a3be8c;
	--aur5: #b48ead;
	--aur1-hover: rgb(191, 97, 106, 0.8);
	--aur2-hover: rgb(208, 135, 112, 0.8);
	--aur3-hover: rgb(235, 203, 139, 0.8);
	--aur4-hover: rgb(164, 191, 141, 0.8);
	--aur5-hover: rgb(180, 142, 173, 0.8);
	--aur1-hard-hover: rgb(191, 97, 106, 0.1);
	--aur2-hard-hover: rgb(208, 135, 112, 0.1);
	--aur3-hard-hover: rgb(235, 203, 139, 0.1);
	--aur4-hard-hover: rgb(164, 191, 141, 0.1);
	--aur5-hard-hover: rgb(180, 142, 173, 0.1);
}

* > body {
	font-family: "Rubik", sans-serif !important;
	margin: 0;
	font-size: 16pt !important;
	background-color: var(--primary) !important;
	color: var(--text3) !important;
}
a {
	text-decoration: none;
	padding-bottom: 0.01rem;
	/* border-bottom: 1px solid var(--frost3); */
	color: var(--frost3);
}
a:hover {
	/* border-bottom: 1px solid var(--frost3-hover); */
	color: var(--frost3-hover);
}
.navbar {
	background-color: var(--secondary);
	padding: 1rem;
	margin-bottom: 2rem;
}
.header {
	margin: 2rem;
	text-align: center;
}
.filter_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
button {
	background-color: var(--frost3);
	color: var(--text3);
	border-radius: 0.5rem;
	padding: 0.75rem;
	border: none;
	margin: 1rem;
	cursor: pointer;
}
button:hover {
	color: var(--text3);
	background-color: var(--frost3-hover);
	box-shadow: 0 10px 20px 2px rgba(15, 17, 21, 0.5);
}
button.danger {
	background-color: var(--aur1);
}
button.warning {
	background-color: var(--aur3);
}
button.success {
	background-color: var(--aur4);
}
button.active {
	background-color: var(--frost3-hard-hover);
	border: 0.1rem solid var(--frost3);
}
button.danger.active {
	background-color: var(--aur1-hard-hover);
	border: 0.1rem solid var(--aur1-hard-hover);
}
button.warning.active {
	background-color: var(--aur3---aur1-hard-hover);
	border: 0.1rem solid var(--aur3-hard-hover);
}
button.success.active {
	background-color: var(--aur4---aur1-hard-hover);
	border: 0.1rem solid var(--aur4-hard-hover);
}
button.danger:hover {
	background-color: var(--aur1-hover);
}
button.warning:hover {
	background-color: var(--aur3-hover);
}
button.success:hover {
	background-color: var(--aur4-hover);
}
button.active {
	cursor: not-allowed;
}
.alert {
	background-color: var(--frost3-hard-hover);
	border: 0.1rem solid var(--frost3);
	padding: 1.25rem;
	margin: 1rem;
	border-radius: 0.5rem;
	color: var(--frost3);
	user-select: none;
}
.alert.danger {
	background-color: var(--aur1-hard-hover);
	border: 0.1rem solid var(--aur1);
	color: var(--aur1);
}
.alert.warning {
	background-color: var(--aur3-hard-hover);
	border: 0.1rem solid var(--aur3);
	color: var(--aur3);
}
.alert.success {
	background-color: var(--aur4-hard-hover);
	border: 0.1rem solid var(--aur4);
	color: var(--aur4);
}
.user_card_container_container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.user_card_container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 70vw;
}
.user_card {
	font-size: 1.25rem;
	background-color: var(--secondary);
	width: 15vw;
	/* height: 15vw; */
	padding: 1rem;
	margin: 1rem;
	border-radius: 0.5rem;
	min-width: 10vw;
	min-height: fit-content;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}
.user_card:hover {
	box-shadow: 0 10px 20px 2px rgba(15, 17, 21, 0.5);
}
.user_card_title {
	margin-bottom: 1rem;
}
.user_card_content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.user_card_stat_content {
	color: var(--text4);
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.user_card_href {
	top: 0.25rem;
	font-size: 0.95rem;
}
.user_card_stat_header {
	color: var(--text1);
}
@media screen and (max-width: 600px) {
	.user_card {
		width: 80vw;
		/* height: 30vw; */
	}
}
@media screen and (max-width: 1000px) {
	.user_card {
		width: 40vw;
		/* height: 30vw; */
	}
}
@media screen and (max-width: 1400px) {
	.user_card {
		width: 30vw;
		/* height: 30vw; */
	}
}
